#frame {
    background-image: url(../images/ch01/bace.png);
}

.under {
    background-image: url(../images/ch02/ptcTower.jpg);
}

@-webkit-keyframes cus {
    0% {
        right: -10vw;
    }
    100% {
        right: 5vw;
    }
}

@keyframes cus {
    0% {
        right: -10vw;
    }
    100% {
        right: 5vw;
    }
}

#cus {
    position: relative;
    width: 110vw;
    height: 100vh;
    background-image: url(../images/ch01/cus.png);
    right: -10vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

@-webkit-keyframes cross {
    0% {
        top: 100vh;
        left: -60%;
    }
    7% {
        top: 100vh;
        left: -60%;
    }
    100% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 0;
        left: 15vw;
    }
}

@keyframes cross {
    0% {
        top: 100vh;
        left: -60%;
    }
    7% {
        top: 100vh;
        left: -60%;
    }
    100% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 0;
        left: 15vw;
    }
}

#pi {
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: -40%;
}

.addpi {
    animation: cross 7s cubic-bezier(0.110, 1.065, 0.000, 0.995) forwards;
    -webkit-animation: cross 7s cubic-bezier(0.110, 1.065, 0.000, 0.995) forwards;
    -moz-animation: cross 7s cubic-bezier(0.110, 1.065, 0.000, 0.995) forwards;
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg);
    }
    10% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg);
    }
    100% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes fly {
    0% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg);
    }
    10% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg);
    }
    100% {
        -webkit-transform-origin: 60% 40%;
        transform-origin: 60% 40%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#cus2 {
    display: block;
    margin: auto;
    height: 100%;
    -webkit-transform-origin: 60% 40%;
    -ms-transform-origin: 60% 40%;
    transform-origin: 60% 40%;
}
