#frame {
    background-image: url(../images/ch01/bace.png);
}

.under {
    background-image: url(../images/ch02/ptcTower.jpg);
}

@keyframes cus {
    0% {
        right: -10vw;
    }
    100% {
        right: 10vw;
    }
}

#cus {
    position: relative;
    width: 110vw;
    height: 100vh;
//    background-image: url(../images/ch01/cus.png);
    right: -10vw;
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: center;
    z-index: 2;
    img{
        position: relative;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes cross {
    0% {
        top: 100vh;
        left: -200vh;
    }
    7% {
        top: 100vh;
        left: -200vh;
    }
    100% {
        top: 0;
        left: -50vh;
    }
}

#pi {
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: -40%;
}

.addpi {
    animation: cross 7s cubic-bezier(0.110, 1.065, 0.000, 0.995) forwards;
    -webkit-animation: cross 7s cubic-bezier(0.110, 1.065, 0.000, 0.995) forwards;
    -moz-animation: cross 7s cubic-bezier(0.110, 1.065, 0.000, 0.995) forwards;
}

@keyframes fly {
    0% {
        transform: rotate(110deg);
    }
    10% {
        transform: rotate(110deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#cus2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: auto;
    height: 100%;
//    transform-origin: 60% 40%;
}
