* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
    /*    overflow:hidden;*/
}

.title {
    position: absolute;
    height: 100vh;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 6;
    display: none;
}

#frame {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

article {
    color: gray;
    font-size: 1.2rem;
    line-height: 2rem;
}

p {
    margin: 0 .5rem;
}

.page {
    position: absolute;
    opacity: 0;
    z-index: 10;
    transition: 1s ease-out;
}

#page0 {}

.paperH {
    position: absolute;
    right: 1rem;
    top: 0;
    width: 100%;
    ;
    height: 100%;
    ;
    background-image: -webkit-linear-gradient(0deg, transparent 2.05rem, black 2.05rem, black 2.45rem, gray 2.45rem), -webkit-linear-gradient(0deg, transparent 2.45rem, gray 2.45rem);
    ;
    background-image: linear-gradient(90deg, transparent 2.05rem, black 2.05rem, black 2.45rem, gray 2.45rem), linear-gradient(90deg, transparent 2.45rem, gray 2.45rem);
    background-size: 2.6rem 2rem, 2.6rem 2em;
    background-position: 100% 100%, calc(100% - 0.5rem) 0;
    z-index: -1;
}

.paperS {
    position: absolute;
    right: 1rem;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-linear-gradient(gray 0.15rem, transparent 0px);
    background-image: linear-gradient(gray 0.15rem, transparent 0px);
    background-size: 2rem 2.1rem;
    background-position: 0px 0px;
    z-index: -1;
}

.bc {
    position: absolute;
    background: -webkit-radial-gradient(left bottom, black 0%, black 78%, transparent 90%);
    background: radial-gradient(left bottom, black 0%, black 78%, transparent 90%);
    background: -webkit-radial-gradient(left bottom, black 0%, black 78%, transparent 90%);
    background: -moz-radial-gradient(left bottom, black 0%, black 78%, transparent 90%);
    width: 70vw;
    height: 70vw;
    z-index: -1;
}

.bgLine {
    position: absolute;
    width: 300vw;
    height: 100%;
    right: -200vw;
    background: linear-gradient(240deg, transparent 50%, black 50%);
    z-index: -1;
}

#bgLineH {
    -webkit-transition: 1.5s ease-out 1.5s;
    transition: 1.5s ease-out 1.5s;
}

#bgLineS {
    -webkit-transition: 1.5s ease-out 3s;
    transition: 1.5s ease-out 3s;
}

#bgLineMask {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(left bottom, black 0%, black 85%, transparent 100%);
    background: radial-gradient(left bottom, black 0%, black 85%, transparent 100%);
    background: -webkit-radial-gradient(left bottom, black 0%, black 85%, transparent 100%);
    background: -moz-radial-gradient(left bottom, black 0%, black 85%, transparent 100%);
    opacity: 0;
    -webkit-transition: 1.5s linear 6s;
    transition: 1.5s linear 6s;
}

#LOGO {
    position: absolute;
    height: 16vh;
    top: 57vh;
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 6;
    animation: logo 2.3s linear infinite;
    -webkit-animation: logo 2.3s linear infinite;
    -moz-animation: logo 2.3s linear infinite;
}

#LOGO:hover {
    animation: 0;
    -webkit-animation: 0;
    -moz-animation: 0;
}

@keyframes logo {
    0% {
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}



.tran {
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}

#article {
    /*    display: none;*/

    position: relative;
}

#logoa {
    cursor: pointer;
    position: absolute;
    display: none;
    text-align: center;
    width: 28vh;
    margin: auto;
    top: 57vh;
    right: 0;
    left: 0;
    animation: logo 2.3s linear infinite;
    -webkit-animation: logo 2.3s linear infinite;
    -moz-animation: logo 2.3s linear infinite;
    z-index: 7;
}

#logoa:hover {
    animation: 0;
    -webkit-animation: 0;
    -moz-animation: 0;
}

.LOGO2 {
    height: 15vh;
    margin: -2.5px;
    z-index: 6;
    -webkit-transition: 1.5s linear;
    transition: 1.5s linear;
}

#LOGO2L {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
}

#LOGO2R {
    -ms-transform-origin: 0 center 0;
    transform-origin: 0 center 0;
    -webkit-transform-origin: 0 center 0;
    -moz-transform-origin: 0 center 0;
}

@keyframes logotran {
    0% {}
    100% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
}

@-webkit-keyframes logotran {
    0% {}
    100% {
        -webkit-transform: rotateY(90deg);
    }
}

.LOGOtran {
    animation: 2s logotran linear forwards;
    -webkit-animation: 2s logotran linear forwards;
    -moz-animation: 2s logotran linear forwards;
}

#LOGO2b {
    position: relative;
    top: -4vh;
    height: 4vh;
}

#ink {
    position: absolute;
    top: 3vh;
    margin: auto;
    left: 0;
    right: 0;
    width: 0.5vh;
    height: 0;
    background-image: -webkit-linear-gradient(#4cc8ff 20%, black 80%);
    background-image: linear-gradient(#4cc8ff 20%, black 80%);
    z-index: -1;
}

@keyframes inka {
    0% {
        height: 0;
    }
    100% {
        height: 7.5vh;
    }
}

@-webkit-keyframes inka {
    0% {
        height: 0;
    }
    100% {
        height: 7.5vh;
    }
}

.touch {
    position: absolute;
    display: none;
    width: 45vw;
    height: 100vh;
    z-index: 15;
    cursor: pointer;
}

#touchN {
    right: 0;
}

#touchL {
    left: 0;
}

.tip {
    left: 10vw;
    text-align: center;
    transform-origin: center top;
    line-height: 5vh;
    font-size: 3vh;
}

.hole {
    position: absolute;
    left: 0;
    right: 0;
    background: black;
    border-radius: 100%;
    width: 3.5vh;
    height: 3.5vh;
    margin: 0.8vw auto;
}

.rebon {
    position: absolute;
    width: 18%;
    height: 20vh;
    top: -17vh;
    left: 41%;
    background-image: -webkit-linear-gradient(90deg, #3e2800 0%, orange 5%, orange 60%, #ffa500 60%, #2e1e00 100%);
    background-image: linear-gradient(0deg, #3e2800 0%, orange 5%, orange 60%, #ffa500 60%, #2e1e00 100%);
}

.keypic {
    display: inline-block;
    width: 3.5vh;
    height: 3.5vh;
    line-height: 3vh;
    border: solid .5vh #888;
}

.keyb {
    background: #acacac;
    color: black;
    font-size: 2vh;
    border-radius: .5vh;
}

.know {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
    -webkit-animation: knowf 3s linear infinite;
    -moz-animation: knowf 3s linear infinite;
}


@keyframes knowf {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}



@keyframes knows {
    0% {
        top: 10vh;
    }
    50% {
        top: 12vh;
    }
    100% {
        top: -50vh;
    }
}

#keyup {
    display: block;
    margin: auto;
    margin-bottom: .7vh;
}

.clicLR {
    background: #d4d4d4;
    width: 10vh;
    height: 6vh;
    border-radius: .5vh;
    border: solid black .8vh;
    font-size: 1vh;
    color: black;
}

.pc {
    display: block;
    margin: auto;
}

.pcb {
    background: black;
    width: 5vh;
    height: 1vh;
    border-radius: 1vh 1vh 0 0;
}

.ccr {
    float: right;
    background: yellow;
}

.cc {
    display: inline-block;
    height: 100%;
    width: 50%;
    line-height: 6vh;
}

.ccl {
    float: left;
    background: green;
}

.or {
    font-weight: bold;
    font-size: 4vh;
    color: black;
}

.pcpaper {
    position: absolute;
    top: 0;
    opacity: .2;
    width: 100%;
    height: 100%;
    background-image: url(../images/p34.jpg);
    background-position: top;
}

.key {
    margin-top: 7vh;
}

.menu {
    font-family: Microsoft JhengHei;
    position: absolute;
    top: 0;
    left: 0rem;
    opacity: .7;
    z-index: 16;
    width: 8rem;
    display: none;
}

.menuimg {
    opacity: .6;
    position: absolute;
    padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    z-index: 15;
    -webkit-transform-origin: center;
    display: none;
}

.under {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Microsoft JhengHei;
    color: white;
    overflow: hidden;
}

.after {
    color: white;
    /*
    top:0;
    bottom: 0;
*/

    padding: 2rem 1rem;
    width: 30vw;
    border: solid .5rem white;
    border-radius: 3rem;
    line-height: 2rem;
}

@media screen and (max-width: 1200px) {

}

.imgrotate {
    background: red;
    left: -8rem;
}

.menu li {
    width: 8rem;
    margin: 1rem;
    position: relative;
    left: -12rem;
    /*    left: -12rem;*/

    padding-right: 2rem;
    /*    background-image: -webkit-linear-gradient(165deg, brown 50%, rgba(0, 0, 0, 0.6) 50%, transparent 70%);*/

    background-image: -webkit-linear-gradient(165deg, #908b0c 5%, #c6c14e 12%, #7b7e1d 35%, #908b0c 45%, #908b0c 50%, rgba(0, 0, 0, 0.6) 50%, transparent 70%);
    background-image: linear-gradient(-75deg, #908b0c 5%, #c6c14e 12%, #7b7e1d 35%, #908b0c 45%, #908b0c 50%, rgba(0, 0, 0, 0.6) 50%, transparent 70%);
    color: white;
    /*	font-weight: bold;*/

    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
    text-align: right;
    cursor: pointer;
    border-radius: 0.5rem;
    border: solid #7c7812;
}

.menu li:hover {
    background-color: #c12f2f;
    -webkit-transform: scale(1.1);
}

.menu ul {
    padding-top: 5rem;
}

.loading {
    position: absolute;
    z-index: 25;
    background: #92341f;
    width: 100%;
    height: 100vh;
}

.whitelineH {
    height: 100vh;
    left: 50%;
    width: 5px;
}

.whitelineS {
    width: 100%;
    top: 50%;
    height: 5px;
}

.Mcircl {
    position: absolute;
    border-radius: 100%;
    border: solid 2vh white;
}

.McirclOut {
    width: 90vh;
    height: 90vh;
    left: calc(50vw - 45vh - 3vh);
    top: calc(50vh - 45vh - 2vh)
}

.McirclIn {
    width: 74vh;
    height: 74vh;
    left: calc(50vw - 37vh - 3vh);
    top: calc(50vh - 37vh - 2vh)
}

.countDown {
    position: absolute;
    text-align: center;
    font-size: 70vh;
    line-height: 85vh;
    height: 80vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.countStart {
    animation: countBig 1.5s linear infinite;
    -webkit-animation: countBig 1.5s linear infinite;
    -moz-animation: countBig 1.5s linear infinite;
}


@keyframes countBig {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    95% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.whiteline {
    position: absolute;
    background-color: black;
}

.whitelineL {
    height: 100vh;
    width: 5px;
    left: 50%;
    bottom: 50%;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

.rowLine{
    -webkit-animation: countRow 1.5s linear infinite;
    animation: countRow 1.5s linear infinite;
}

@keyframes countRow {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.opBox {
    position: absolute;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
}


@keyframes boxRight {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}


@keyframes boxLeft {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.opBoxR {
    left: 50%;
}

.opBoxL {
    right: 50%;
}

.opBoxB {
    position: absolute;
    width: 3000px;
    height: 3000px;
    bottom: calc( -1500px + 50vh);
    background-color: #556c5c;
}

.opBoxBL {
    left: 50vw;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.starBL{
    animation: boxLeft 1.5s linear infinite;
    -webkit-animation: boxLeft 1.5s linear infinite;
    -moz-animation: boxLeft 1.5s linear infinite;
}

.opBoxBR {
    right: 50vw;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}

.starBR{
    animation: boxRight 1.5s linear infinite;
    -webkit-animation: boxRight 1.5s linear infinite;
    -moz-animation: boxRight 1.5s linear infinite;
}

.liChoise {
    background-color: #c12f2f;
    -webkit-transform: scale(1.1);
}

.sticker {
    width: 30rem;
    height: 25rem;
    position: absolute;
    background-image: -webkit-linear-gradient(315deg, #ffe164 0%, #ffe164 86%, transparent 86%);
    background-image: linear-gradient(135deg, #ffe164 0%, #ffe164 86%, transparent 86%);
    background-size: cover;
    margin: auto;
    left: 100vw;
    top: 0;
    bottom: 0;
    z-index: 10;
    /*    display: none;*/

    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.kickstick {
    position: absolute;
    width: 7.6rem;
    height: 7.6rem;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(315deg, #e8ad28 0%, #9a731e 50%, transparent 50%);
    background-image: linear-gradient(135deg, #e8ad28 0%, #9a731e 50%, transparent 50%);
    background-size: cover;
}

.sticker2 {
    width: 30rem;
    height: 2rem;
    position: absolute;
    background-image: -webkit-linear-gradient(#cbb24d 0%, transparent 100%);
    background-image: linear-gradient(#cbb24d 0%, transparent 100%);
    background-size: cover;
}

.formName {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px black;
    font-size: 2.5rem;
    width: 12.5rem;
    color: #00006a;
    text-align: center;
}

.formS {
    position: absolute;
    height: 25rem;
}

#textStick {
    margin-top: 1rem;
    width: 28rem;
    height: 13rem;
    background: transparent;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #00006a;
}

.formSub {
    background: none;
    border: none;
    position: absolute;
    width: 5rem;
    height: 5rem;
    right: 2.5rem;
    top: 17.8rem;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.name {
    position: absolute;
    font-size: 1.5rem;
    bottom: 2rem;
    padding-left: 1rem;
    color: black;
}

.card {
    position: absolute;
    height: 50vh;
    width: 15vh;
    background-image: linear-gradient(#ad3939 0%, brown 50%, #6c0d0d 100%);
    z-index: 20;
}

.bCard {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}


@keyframes bCards {
    0% {
        -webkit-transform: scale(1.5)rotate(15deg);
        transform: scale(1.5)rotate(15deg);
    }
    100% {
        -webkit-transform: scale(.8)rotate(10deg);
        transform: scale(.8)rotate(10deg);
    }
}

.cardimg {
    width: 100%;
}

.cardtext {
    font-size: 13vh;
    line-height: 12vh;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
}

.cardtext2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
}



.udMt {
    background-color: orange;
}

.udMhoho {
    cursor: pointer;
    text-align: center;
}

.shareB {
    position: absolute;
    color: white;
    margin: auto;
    width: 350px;
    left: 0;
    right: 0;
    bottom: -10vh;
}

.soc {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.soc li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.soc li a {
    font-family: si!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    border-radius: 10px;
    margin-right: 30px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last {
    margin: 0 !important;
}

.section {
    width: 100vw;
    height: 100vh;
}

.soc-line {
    width: 100%;
}
#nextChapter {
    cursor: pointer;
}

.pageM {
    background: black;
    font-size: 1.1rem;
    text-indent: 2.6rem;
    letter-spacing: .2rem;
}
