 .pageM {
     writing-mode: vertical-rl;
     -webkit-writing-mode: vertical-rl;
     -moz-writing-mode: vertical-rl;
     -ms-writing-mode: vertical-rl;
     margin: 15vh auto 0;
     height: 65vh;
     background: #000
 }

 article {
     width: 100vw;
     height: 100vh;
     position: absolute;
     overflow: hidden
 }

 .udMho,
 .udMhoho {
     position: absolute;
     width: 30vh
 }

 .page {
     margin-top: 7vh;
     height: 90vh
 }

 .tip {
    top: -50vh;
    left: 10vw;
    line-height: 5vh;
    font-size: 3vh
 }

 @-webkit-keyframes tipdown {
     0% {
         -webkit-transform: rotate(5deg);
         transform: rotate(5deg);
         top: -40vh
     }
     60% {
         -webkit-transform: rotate(8deg);
         transform: rotate(8deg)
     }
     70% {
         -webkit-transform: rotate(-6deg);
         transform: rotate(-6deg);
         top: 10vh
     }
     85% {
         -webkit-transform: rotate(3deg);
         transform: rotate(3deg)
     }
     100% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
         top: 10vh
     }
 }

 @keyframes tipdown {
     0% {
         -webkit-transform: rotate(5deg);
         transform: rotate(5deg);
         top: -40vh
     }
     60% {
         -webkit-transform: rotate(8deg);
         transform: rotate(8deg)
     }
     70% {
         -webkit-transform: rotate(-6deg);
         transform: rotate(-6deg);
         top: 10vh
     }
     85% {
         -webkit-transform: rotate(3deg);
         transform: rotate(3deg)
     }
     100% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
         top: 10vh
     }
 }

 @-webkit-keyframes knows {
     0% {
         top: 10vh
     }
     50% {
         top: 12vh
     }
     100% {
         top: -50vh
     }
 }

 @keyframes knows {
     0% {
         top: 10vh
     }
     50% {
         top: 12vh
     }
     100% {
         top: -50vh
     }
 }

 .udMho {
     top: 0;
     height: 70vh;
     background-image: -webkit-linear-gradient(0deg, transparent 5%, #fff 5%, transparent 6%, transparent 93%, #fff 95%, transparent 95%);
     background-image: linear-gradient(90deg, transparent 5%, #fff 5%, transparent 6%, transparent 93%, #fff 95%, transparent 95%);
     -webkit-transform-origin: left top;
     -ms-transform-origin: left top;
     transform-origin: left top;
     -webkit-transform: rotate3d(1, 1, 0, 30deg);
     transform: rotate3d(1, 1, 0, 30deg);
     font-size: 1.2rem
 }

 .udMho:nth-of-type(1) {
     left: 0;
     top: -10vh;
     z-index: 3
 }

 .udMho:nth-of-type(2) {
     left: 10vw;
     top: -20vh;
     z-index: 2
 }

 .udMho:nth-of-type(3) {
     left: 20vw;
     top: -30vh;
     z-index: 1
 }

 .udMhoho {
     bottom: 0
 }

 .sticker {
     left: 130vw
 }

 @-webkit-keyframes inka {
     0% {
         height: 0
     }
     100% {
         height: 7.5vh
     }
 }

 @keyframes inka {
     0% {
         height: 0
     }
     100% {
         height: 7.5vh
     }
 }


.sticker {
//    width: 30rem;
    width: 24rem;
//    height: 25rem;
    height: 20rem;
}

.sticker2 {
//    width: 30rem;
    width: 24rem;
//    height: 2rem;
    height: 1.7rem;
}

.kickstick {
//    width: 7.6rem;
    width: 6.1rem;
//    height: 7.6rem;
    height: 6.1rem;
}

.formS {
//        height: 25rem;
        height: 20rem;
}

#textStick {
    margin-top: 1.2rem;
//    width: 28rem;
    width: 22rem;
//    height: 13rem;
    height: 10.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.name {
//    font-size: 1.5rem;
    font-size: 1.2rem;
//    bottom: 2rem;
    bottom: 1.6rem;
    padding-left: 1rem
}

.formName {
//    font-size: 2.5rem;
    font-size: 2rem;
//    width: 12.5rem;
    width: 10rem;
}

.formSub {
//    width: 5rem;
    width: 4rem;
//    height: 5rem;
    height: 4rem;
//    right: 2.5rem;
    right: 2rem;
//    top: 17.8rem;
    top: 14.2rem;
//    font-size: 1.2rem;
    font-size: 1.2rem;
}

.countDown {
    font-size: 70vh;
    line-height: 85vh;
    height: 80vh;
}



#frame {
        background-position: center;
}

#ink {
    top: 3vh;
    width: .5vh;
}

.Mcircl {
    border: 2vh solid #fff;
}

.McirclOut {
    width: 90vh;
    height: 90vh;
    left: calc(50vw - 45vh - 3vh);
    top: calc(50vh - 45vh - 2vh)
}

.McirclIn {
    width: 74vh;
    height: 74vh;
    left: calc(50vw - 37vh - 3vh);
    top: calc(50vh - 37vh - 2vh)
}

.card {
    height: 50%;
    width: 15vh;
}

.tipRelative {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.key {
    margin-top: 7vh;
}

.clicLR {
    border-radius: .5vh;
    width: 10vh;
    height: 6vh;
    border: .8vh solid #000;
    font-size: 0.5vw;
}

.cc {
    height: 100%;
    line-height: 6vh;
}

.bgLine {
    background: linear-gradient(210deg, transparent 50%, #000 50%);
}


.stickerMid{
    left: calc( 50vw - 12rem );
}
