
#frame {
    background-image: url(../images/ch01/bace.png)
}

.under {
    background-image: url(../images/ch02/ptcTower.jpg)
}

@-webkit-keyframes cus {
    0% {
        right: -10vw
    }
    100% {
        right: 10vw
    }
}

@keyframes cus {
    0% {
        right: -10vw
    }
    100% {
        right: 10vw
    }
}

#cus {
    width: 110%;
    right: -10%;
    z-index: 2
}



#cus img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@-webkit-keyframes cross {
    0%,
    7% {
        top: 100vh;
        left: -100vw
    }
    100% {
        top: 0;
        left: calc(50vw - 65vh)
    }
}

@keyframes cross {
    0%,
    7% {
        top: 100vh;
        left: -100vw
    }
    100% {
        top: 0;
        left: calc(50vw - 65vh)
    }
}

#cus2,
.title {
    height: 100%;
    left: 0
}

#pi {
    height: 100%;
    position: absolute;
    top: 100%
}

.addpi {
    -webkit-animation: cross 7s cubic-bezier(.11, 1.065, 0, .995) forwards;
    animation: cross 7s cubic-bezier(.11, 1.065, 0, .995) forwards
}

@-webkit-keyframes fly {
    0%,
    10% {
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes fly {
    0%,
    10% {
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

#cus2 {
    position: relative;
    margin: auto
}



.flyAct {
    -webkit-animation: fly 8s cubic-bezier(0, .995, 0, 1.005) forwards;
    animation: fly 8s cubic-bezier(0, .995, 0, 1.005) forwards
}

.cusAct {
    -webkit-animation: cus 6s cubic-bezier(.32, .01, 0, .995) forwards;
    animation: cus 6s cubic-bezier(.32, .01, 0, .995) forwards
}


@-webkit-keyframes cus {
    0% {
        right: -10vw
    }
    100% {
        right: 10vw
    }
}

@keyframes cus {
    0% {
        right: -10vw
    }
    100% {
        right: 10vw
    }
}

#cus {
    width: 110%;
    right: -10%;
    z-index: 2
}


#cus img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}


@-webkit-keyframes cross {
    0%,
    7% {
        top: 100vh;
        left: -100vw
    }
    100% {
        top: 0;
        left: calc(50vw - 65vh)
    }
}

@keyframes cross {
    0%,
    7% {
        top: 100vh;
        left: -100vw
    }
    100% {
        top: 0;
        left: calc(50vw - 65vh)
    }
}

#cus2,
.title {
    height: 100%;
    left: 0
}

#pi {
    height: 100%;
    position: absolute;
    top: 100%
}

.addpi {
    -webkit-animation: cross 7s cubic-bezier(.11, 1.065, 0, .995) forwards;
    animation: cross 7s cubic-bezier(.11, 1.065, 0, .995) forwards
}

@-webkit-keyframes fly {
    0%,
    10% {
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes fly {
    0%,
    10% {
        -webkit-transform: rotate(110deg);
        transform: rotate(110deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

#cus2 {
    position: relative;
    margin: auto
}


.flyAct {
    -webkit-animation: fly 8s cubic-bezier(0, .995, 0, 1.005) forwards;
    animation: fly 8s cubic-bezier(0, .995, 0, 1.005) forwards
}

.cusAct {
    -webkit-animation: cus 6s cubic-bezier(.32, .01, 0, .995) forwards;
    animation: cus 6s cubic-bezier(.32, .01, 0, .995) forwards
}


#frame {
    background-image: url(../images/ch01/bace.png)
}

.under {
    background-image: url(../images/ch02/ptcTower.jpg)
}

