@-webkit-keyframes cross {
    0%,
    7% {
        top: 100vh;
        right: 200vh
    }
    100% {
        top: 0;
        right: 0
    }
}

@keyframes cross {
    0%,
    7% {
        top: 100vh;
        right: 200vh
    }
    100% {
        top: 0;
        right: 0
    }
}


#pi {
    -webkit-transform: translateX(15%);
    -ms-transform: translateX(15%);
    transform: translateX(15%);
    right: 200%
}
