/* line 1, ../sass/ch01.scss */
#frame {
  background-image: url(../images/ch01/bace.png);
}

/* line 5, ../sass/ch01.scss */
.under {
  background-image: url(../images/ch02/ptcTower.jpg);
}

@keyframes cus {
  0% {
    right: -10vw;
  }
  100% {
    right: 10vw;
  }
}
/* line 18, ../sass/ch01.scss */
#cus {
  position: relative;
  width: 110vw;
  height: 100vh;
  right: -10vw;
  z-index: 2;
}
/* line 28, ../sass/ch01.scss */
#cus img {
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes cross {
  0% {
    top: 100vh;
    left: -200vh;
  }
  7% {
    top: 100vh;
    left: -200vh;
  }
  100% {
    top: 0;
    left: -50vh;
  }
}
/* line 51, ../sass/ch01.scss */
#pi {
  height: 100vh;
  position: absolute;
  top: 100vh;
  left: -40%;
}

/* line 58, ../sass/ch01.scss */
.addpi {
  animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
  -webkit-animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
  -moz-animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
}

@keyframes fly {
  0% {
    transform: rotate(110deg);
  }
  10% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 76, ../sass/ch01.scss */
#cus2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: auto;
  height: 100%;
}
