/* line 1, ../sass/remiel_port.scss */
.pageM {
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 6, ../sass/remiel_port.scss */
.pageM .center {
  text-align: center;
}

/* line 10, ../sass/remiel_port.scss */
.page {
  padding: 5rem 0;
}

/* line 14, ../sass/remiel_port.scss */
.tip {
  left: -50vw;
  top: 20vh;
}

/* line 19, ../sass/remiel_port.scss */
#article {
  overflow: hidden;
  height: 100%;
}

@-webkit-keyframes tipdown {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    left: -50vw;
    top: -40vh;
  }
  60% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  70% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    left: 10vw;
    top: 20vh;
  }
  85% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 10vw;
    top: 20vh;
  }
}
@keyframes tipdown {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    left: -50vw;
    top: -40vh;
  }
  60% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  70% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    left: 10vw;
    top: 20vh;
  }
  85% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 10vw;
    top: 20vh;
  }
}
@-webkit-keyframes knows {
  0% {
    left: 10vw;
  }
  50% {
    left: 15vw;
  }
  100% {
    left: -50vw;
  }
}
@keyframes knows {
  0% {
    left: 10vw;
  }
  50% {
    left: 15vw;
  }
  100% {
    left: -50vw;
  }
}
/* line 106, ../sass/remiel_port.scss */
.sticker {
  left: 150vw;
  width: 90vw;
  height: 75vw;
  transform: translateX(-40%);
}

/* line 113, ../sass/remiel_port.scss */
.udMho {
  position: absolute;
  display: inline-block;
  font-size: 1.3rem;
  top: 5%;
  width: 20%;
  margin: 4%;
  z-index: 10;
}

/* line 123, ../sass/remiel_port.scss */
.udMho:nth-of-type(1) {
  left: 68%;
}

/* line 127, ../sass/remiel_port.scss */
.udMho:nth-of-type(2) {
  left: 37%;
}

/* line 131, ../sass/remiel_port.scss */
.udMho:nth-of-type(3) {
  left: 5%;
}

/* line 135, ../sass/remiel_port.scss */
.udMt {
  border: 0.3rem solid #fff;
}

/* line 139, ../sass/remiel_port.scss */
#logoa {
  width: 40%;
}

/* line 143, ../sass/remiel_port.scss */
#ink {
  top: 16%;
  width: 3%;
}

/* line 148, ../sass/remiel_port.scss */
#LOGO2b {
  top: 0;
  margin-top: -10%;
  width: 100%;
  height: auto;
}

@-webkit-keyframes inka {
  0% {
    height: 0;
  }
  100% {
    height: 41%;
  }
}
@keyframes inka {
  0% {
    height: 0;
  }
  100% {
    height: 41%;
  }
}
/* line 173, ../sass/remiel_port.scss */
.paperS {
  width: 100%;
  height: 100%;
}

/* line 178, ../sass/remiel_port.scss */
.card {
  width: 9rem;
  height: 23rem;
}

/* line 183, ../sass/remiel_port.scss */
.hole {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem auto;
}

/* line 189, ../sass/remiel_port.scss */
.rebon {
  height: 40%;
  top: -34%;
}

/* line 194, ../sass/remiel_port.scss */
.key {
  margin-top: 35%;
}

/* line 198, ../sass/remiel_port.scss */
.keypic {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 0.3rem solid #888;
}

/* line 205, ../sass/remiel_port.scss */
.keyb {
  font-size: 1rem;
  border-radius: 0.3rem;
}

/* line 210, ../sass/remiel_port.scss */
#keyup {
  margin-bottom: 0.3rem;
}

/* line 214, ../sass/remiel_port.scss */
.or {
  font-size: 2rem;
}

/* line 218, ../sass/remiel_port.scss */
.clicLR {
  width: 4rem;
  height: 5rem;
  border-radius: .5vh;
  border: .8vh solid #000;
  font-size: 1vh;
}

/* line 226, ../sass/remiel_port.scss */
.pcb {
  display: none;
}

/* line 230, ../sass/remiel_port.scss */
.cc {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

/* line 235, ../sass/remiel_port.scss */
.cardtext {
  font-size: 5rem;
  line-height: 6rem;
}

/* line 240, ../sass/remiel_port.scss */
.countDown {
  font-size: 0;
  line-height: 0;
  height: 80%;
}

/* line 248, ../sass/remiel_port.scss */
.under {
  background-position: 70% center;
}

/* line 252, ../sass/remiel_port.scss */
.udMt {
  padding: .5rem;
  border-radius: 1rem;
  font-size: 4vw;
}

/* line 258, ../sass/remiel_port.scss */
.sticker2 {
  width: 90vw;
  height: 6vw;
}

/* line 263, ../sass/remiel_port.scss */
.kickstick {
  width: 22.8vw;
  height: 22.8vw;
}

/* line 268, ../sass/remiel_port.scss */
.formS {
  height: 75vw;
}

/* line 272, ../sass/remiel_port.scss */
#textStick {
  margin-top: 3vw;
  width: 84vw;
  height: 39vw;
  padding: 3vw;
  font-size: 4.5vw;
}

/* line 280, ../sass/remiel_port.scss */
.name {
  font-size: 4.5vw;
  bottom: 6vw;
  padding-left: 3vw;
}

/* line 286, ../sass/remiel_port.scss */
.formName {
  font-size: 7.5vw;
  width: 37.5vw;
}

/* line 291, ../sass/remiel_port.scss */
.formSub {
  width: 15vw;
  height: 15vw;
  right: 7.5vw;
  top: 53.4vw;
  font-size: 3.6vw;
}

/* line 299, ../sass/remiel_port.scss */
.shareB {
  bottom: -100px;
}
