/* line 2, ../../sass/ch01/ch01_all.scss */
#frame {
  background-image: url(../images/ch01/bace.png);
}

/* line 6, ../../sass/ch01/ch01_all.scss */
.under {
  background-image: url(../images/ch02/ptcTower.jpg);
}

@-webkit-keyframes cus {
  0% {
    right: -10vw;
  }
  100% {
    right: 10vw;
  }
}
@keyframes cus {
  0% {
    right: -10vw;
  }
  100% {
    right: 10vw;
  }
}
/* line 28, ../../sass/ch01/ch01_all.scss */
#cus {
  width: 110%;
  right: -10%;
  z-index: 2;
}

/* line 36, ../../sass/ch01/ch01_all.scss */
#cus img {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes cross {
  0%,
    7% {
    top: 100vh;
    left: -100vw;
  }
  100% {
    top: 0;
    left: calc(50vw - 65vh);
  }
}
@keyframes cross {
  0%,
    7% {
    top: 100vh;
    left: -100vw;
  }
  100% {
    top: 0;
    left: calc(50vw - 65vh);
  }
}
/* line 67, ../../sass/ch01/ch01_all.scss */
#cus2,
.title {
  height: 100%;
  left: 0;
}

/* line 73, ../../sass/ch01/ch01_all.scss */
#pi {
  height: 100%;
  position: absolute;
  top: 100%;
}

/* line 79, ../../sass/ch01/ch01_all.scss */
.addpi {
  -webkit-animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
  animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
}

@-webkit-keyframes fly {
  0%,
    10% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes fly {
  0%,
    10% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/* line 108, ../../sass/ch01/ch01_all.scss */
#cus2 {
  position: relative;
  margin: auto;
}

/* line 115, ../../sass/ch01/ch01_all.scss */
.flyAct {
  -webkit-animation: fly 8s cubic-bezier(0, 0.995, 0, 1.005) forwards;
  animation: fly 8s cubic-bezier(0, 0.995, 0, 1.005) forwards;
}

/* line 120, ../../sass/ch01/ch01_all.scss */
.cusAct {
  -webkit-animation: cus 6s cubic-bezier(0.32, 0.01, 0, 0.995) forwards;
  animation: cus 6s cubic-bezier(0.32, 0.01, 0, 0.995) forwards;
}

@-webkit-keyframes cus {
  0% {
    right: -10vw;
  }
  100% {
    right: 10vw;
  }
}
@keyframes cus {
  0% {
    right: -10vw;
  }
  100% {
    right: 10vw;
  }
}
/* line 144, ../../sass/ch01/ch01_all.scss */
#cus {
  width: 110%;
  right: -10%;
  z-index: 2;
}

/* line 151, ../../sass/ch01/ch01_all.scss */
#cus img {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes cross {
  0%,
    7% {
    top: 100vh;
    left: -100vw;
  }
  100% {
    top: 0;
    left: calc(50vw - 65vh);
  }
}
@keyframes cross {
  0%,
    7% {
    top: 100vh;
    left: -100vw;
  }
  100% {
    top: 0;
    left: calc(50vw - 65vh);
  }
}
/* line 183, ../../sass/ch01/ch01_all.scss */
#cus2,
.title {
  height: 100%;
  left: 0;
}

/* line 189, ../../sass/ch01/ch01_all.scss */
#pi {
  height: 100%;
  position: absolute;
  top: 100%;
}

/* line 195, ../../sass/ch01/ch01_all.scss */
.addpi {
  -webkit-animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
  animation: cross 7s cubic-bezier(0.11, 1.065, 0, 0.995) forwards;
}

@-webkit-keyframes fly {
  0%,
    10% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes fly {
  0%,
    10% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/* line 224, ../../sass/ch01/ch01_all.scss */
#cus2 {
  position: relative;
  margin: auto;
}

/* line 230, ../../sass/ch01/ch01_all.scss */
.flyAct {
  -webkit-animation: fly 8s cubic-bezier(0, 0.995, 0, 1.005) forwards;
  animation: fly 8s cubic-bezier(0, 0.995, 0, 1.005) forwards;
}

/* line 235, ../../sass/ch01/ch01_all.scss */
.cusAct {
  -webkit-animation: cus 6s cubic-bezier(0.32, 0.01, 0, 0.995) forwards;
  animation: cus 6s cubic-bezier(0.32, 0.01, 0, 0.995) forwards;
}

/* line 241, ../../sass/ch01/ch01_all.scss */
#frame {
  background-image: url(../images/ch01/bace.png);
}

/* line 245, ../../sass/ch01/ch01_all.scss */
.under {
  background-image: url(../images/ch02/ptcTower.jpg);
}
